[submodule "external/AndroidSdk.Tools"]
	path = external/AndroidSdk.Tools
	url = https://github.com/Redth/AndroidSdk.Tools.git
	branch = feature/avd-enhancements
[submodule "external/AppleDev.Tools"]
	path = external/AppleDev.Tools
	url = https://github.com/Redth/AppleDev.Tools.git
	branch = feature/simulator-enhancements
