@page "/credits"
@using DeviceRunners.VisualRunners
@inject CreditsViewModel ViewModel

<PageTitle>Credits</PageTitle>

<div class="container">
    <div class="row mb-3">
        <div class="col">
            <h3>Credits</h3>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5>DeviceRunners</h5>
                </div>
                <div class="card-body">
                    <p>A comprehensive cross-platform device testing framework for .NET applications.</p>
                    <p>This Blazor visual runner enables running tests in WASM environments.</p>
                    
                    <h6>Features:</h6>
                    <ul>
                        <li>Device-native testing</li>
                        <li>Multi-platform support</li>
                        <li>Multiple test runners</li>
                        <li>Framework flexibility</li>
                    </ul>

                    <h6>Supported Frameworks:</h6>
                    <ul>
                        <li>Xunit</li>
                        <li>NUnit</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>